<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/static/utils.js"></script>
    <script src="/static/jquery.js"></script>
    <title>Lesson2_01</title>
</head>
<body>
    <div>Lesson2_01</div>
    <button onclick="nextpage()">Next Page</button>
    <div id="data"></div>
</body>
<script>
    <!--  input 是字符串  -->
    function xorEncryptDecrypt(input, key) {
        let output = '';
        for (let i = 0; i < input.length; i++) {
            // 获取输入字符串中当前字符的字符代码
            const charCode = input.charCodeAt(i);
            // 用密钥对字符代码进行XOR运算
            const keyChar = key[i % key.length]; // 重复使用密钥字符
            const keyCharCode = keyChar.charCodeAt(0);
            // 应用XOR并将结果转换回字符
            const encryptedCharCode = charCode ^ keyCharCode;
            output += String.fromCharCode(encryptedCharCode);
        }
        return output;
    }
</script>
<script>
    window.page = 1;
    function nextpage(){
        let xhr = new XMLHttpRequest()

        // 设置响应体为字节，同步地需要去掉 open中的 false 参数，即使用异步请求方式
        xhr.responseType = 'arraybuffer'

        xhr.open("LINK", "/section02/lesson2_01_data_api")

        // 注册回调函数，在回调函数中处理页面展示
        xhr.onload = function (){
            // this.response 是 ArrayBuffer
            // console.log('response', this.response)

            // 对 ArrayBuffer 进行处理
  		    const respDecrypt = new TextDecoder('utf-8').decode(new Uint8Array(this.response))
            console.log('respDecrypt', respDecrypt)

            // 对处理后的 ArrayBuffer 进行解密
            let result = xorEncryptDecrypt(respDecrypt, key+"_response")
            $("#data").text(JSON.parse(result)["code"])
        }

        // 前端对请求值进行加密处理
        let input = window.page.toString() + getServerTime()
        const key = "section02_lesson2_01"
        let reqEncrypt = xorEncryptDecrypt(input, key)
        console.log('reqEncrypt', reqEncrypt)
        xhr.send((new TextEncoder()).encode(reqEncrypt).buffer)

        // 将响应回显在页面
        // 如果服务端对返回值做了加密，前端也需要先解密
        // 同步请求方式下的解密
        // let result = xorEncryptDecrypt(xhr.response, key+"_response")

        // $("#data").text(JSON.parse(xhr.responseText)['code'])

        // result 还是 json 字典格式
        // 同步请求方式下的展示
        // $("#data").text(JSON.parse(result)["code"])

        window.page ++;
    }
</script>
</html>